METMAST_SIRU_URL=
METMAST_SIRU_ID=
METMAST_SIRU_PW=
METMAST_GOGK_URL=
METMAST_GOGK_ID=
METMAST_GOGK_PW=
METMAST_BLMU_URL=
METMAST_BLMU_ID=
METMAST_BLMU_PW=
METMAST_DKAM_URL=
METMAST_DKAM_ID=
METMAST_DKAM_PW=
